.container {
  background-color: rgb(219, 221, 221);
  height: 100vh;
}

.container__content {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.container__blogs {
  width: 60%;
  margin-left: 25px;
}

.btn {
  width: 20%;
  color: #fff;
  background-color: rgba(49, 44, 44, 0.4);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
  border: none;
}

.btn:hover {
  background-color: aquamarine;
  color: black;
}

.hidden {
  display: none;
}
