.container {
    width: 1000px;
    margin: auto;
    background-color: #fff;
    margin-top: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}
.form__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form__item input{
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
}
.form__item label{
    margin-bottom: 10px;
}

.form__item select {
    padding: 10px;
    margin-bottom: 10px;
    width: 20%;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.form__item textarea{
    margin-bottom: 10px;
    width: 80%;
    border: 2px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.form__item button{
    width: 20%;
    margin: auto;
}

.btn {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}